# Services
chonkie
unstructured[all-docs]
pypdf
pypdf
langchain-docling
langchain-core
langchain-openai
langchain-anthropic
langchain-text-splitters

# Scripts
playwright
aiofiles
beautifulsoup4

# Testing
pytest
pytest-asyncio
pytest-mock
pytest-cov

# Db
redis
pgvector
psycopg2-binary
psycopg[binary]
qdrant-client

